/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff, #f8f9fa;
}

/* Header styles */
header {
  background-color: #f1f1f1;
  padding: 10px;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content styles */
main {
  margin: 10px;
}

/* Footer styles */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}

.content-iframe {
  width: 100%;
  height: calc(100vh - 150px);
  border: none;
}

/* Ordered and unordered lists styles */
ol, ul {
  padding-left: 2em;
}

.project-title {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.team-members-title {
  color: #17a2b8;
  border-bottom: 1px solid #17a2b8;
  display: inline-block;
  padding-bottom: 5px;
}

.team-members-list {
  padding-left: 0;
}

.team-members-list li {
  font-size: 18px;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 5px;
}
